* {
    background-color: rgb(24, 209, 209);
}
h3 {
background-color: beige;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: brown;
border: 2px solid green;
border-radius: 10%;
}
.ap{
    color: yellow;
    border: 1px solid green;
    border-radius: 2%;
    background-color: black;
}
#pl{
    color: red;
    border: 1px solid green;
    border-radius: 2%;
    background-color: black;
}